.chart-container {
  max-width: 1000px;
  margin: auto;
  margin-block: 100px;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  @include for-mobile-layout {
    max-width: 330px;
  }
  @include for-tablet-layout {
    max-width: 630px;
  }
}
