.app-header {
  background: $clr1;
  & .logo {
    color: $clr6;
  }
  & nav a {
    color: $clr6;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    opacity: 0.8;
    transition: 0.3s all;
    padding: 0;
    cursor: pointer;

    &:hover:not(:disabled) {
      opacity: 1;
    }
  }

  & .logout-link {
    font-size: rem(14px);
    margin-inline-start: 30px;
  }
  @include for-tablet-layout {
    font-size: rem(14px);
  }
}
