// Colors
$clr1: #0b0b0d;
$clr2: #181619;
$clr3: #181b22;
$clr4: #272a31;
$clr5: #a76b09;
$clr6: #dda74f;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
