.back-icon-wrapper {
  padding-block-end: 5px;
}

.info-button-delete {
  font-size: 38px;
  background: transparent;
  border: none;
  color: $clr1;
  transition: color 0.2s;
  padding-block-end: 10px;
  &:hover {
    color: $clr5;
  }
}

@include for-mobile-layout {
  .info-button-delete {
    font-size: 65px;
  }
}
