.edit-form {
  width: 300px;
  & input {
    outline: none;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #7a7a7a;
  }

  & .save-btn {
    margin-block-start: 20px;
    width: 100%;
    line-height: 35px;
    border: none;
    background: $clr4;
    font-size: rem(18px);
    border-radius: 15rem;
    color: whitesmoke;
    transition: all 0.2s;
    &:hover {
      background: $clr3;
      color: $clr6;
    }
  }
}

.back-icon-wrapper {
  padding-block-end: 5px;
}

.info-button-delete {
  font-size: 38px;
  background: transparent;
  border: none;
  color: $clr1;
  transition: color 0.2s;
  padding-block-end: 10px;
  &:hover {
    color: $clr5;
  }
}

@include for-mobile-layout {
  .info-button-delete {
    font-size: 65px;
  }
}
