.contact-details-container {
  margin-block-start: 30px;

  & img {
    width: 200px;
  }

  & .details-wrapper h3 span {
    font-weight: 500;
  }
}

.links-wrapper {
  width: 50%;
  & .navigate-link-icon {
    font-size: 40px;
    color: $clr1;
    transition: color 0.2s;
    &:hover {
      color: $clr5;
    }
  }
}

@include for-mobile-layout {
  .contact-details-container {
    margin: 0;
  }
  .links-wrapper {
    width: 100%;
    margin-block-start: 0;
    & .navigate-link-icon {
      font-size: 70px;
      &:focus {
        color: $clr5;
      }
    }
  }
}
