.home-page {
  gap: 20px;

  & h1,
  h3 span {
    font-weight: 500;
  }
  & .home-page-row-wrapper {
    & .icon-wrapper {
      padding-inline-end: 15px;
      & * {
        color: $clr6;
        font-size: rem(25px);
      }
    }
    span {
      font-weight: 700;
      margin-inline-end: 7px;
    }
  }
  .transfer-title {
    // margin-block-start: 20px;
  }
  .transfers {
    width: 60%;
    list-style: none;
    font-size: rem(14px);
    background-color: $clr3;
    border-radius: 10%;
    & li {
      margin: 20px;
    }
  }
}

.add-underline {
  width: 70%;
  height: 2px;
  background: rgba(247, 247, 247, 0.274);
  margin-block: 20px;
}
